@model IEnumerable<BlogMvcApp.Models.BlogModel>
@{

    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>

@* bize ayirilan 12 kolonu 4, 8 olarak ayiriyoruz bu sayfa ozel *@


@Html.Partial("BlogListesi", Model)

@section SagKolon
   {

    @Html.Partial("Search")
    @{Html.RenderAction("KategoriListesi", "Category"); }
}








